.star-icon {
  position: absolute;
  top: 406px;
  left: 1151px;
  width: 30px;
  height: 30px;
  display: none;
}
.image-88-icon4,
.image-89-icon3,
.image-90-icon3,
.image-91-icon3 {
  position: absolute;
  top: 862px;
  left: 95px;
  width: 280px;
  height: 280px;
  object-fit: cover;
}
.image-89-icon3,
.image-90-icon3,
.image-91-icon3 {
  left: 429px;
}
.image-90-icon3,
.image-91-icon3 {
  left: 764px;
}
.image-91-icon3 {
  left: 1098px;
}
.mens-premium-t-shirt1 {
  position: absolute;
  top: 1159px;
  left: 95px;
  display: inline-block;
  width: 191px;
  height: 18px;
}
.b22,
.b23,
.b24,
.b25,
.mens-premium-tank1,
.mens-t-shirt1,
.unisex-jersey-t-shirt1 {
  position: absolute;
  top: 1159px;
  left: 1098px;
  display: inline-block;
  width: 191px;
  height: 18px;
}
.b22,
.b23,
.b24,
.b25,
.mens-premium-tank1,
.mens-t-shirt1 {
  left: 764px;
}
.b22,
.b23,
.b24,
.b25,
.mens-premium-tank1 {
  left: 429px;
}
.b22,
.b23,
.b24,
.b25 {
  top: 1183px;
  left: 96px;
  width: 60px;
  height: 22px;
}
.b23,
.b24,
.b25 {
  left: 1098px;
}
.b24,
.b25 {
  left: 764px;
}
.b25 {
  left: 429px;
}
.image-93-icon1,
.image-94-icon1,
.image-95-icon1,
.image-96-icon1 {
  position: absolute;
  top: 1563px;
  left: 94px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.image-94-icon1,
.image-95-icon1,
.image-96-icon1 {
  top: 1817px;
}
.image-95-icon1,
.image-96-icon1 {
  top: 1711px;
}
.image-96-icon1 {
  top: 1637px;
}
.frame-child6 {
  position: absolute;
  top: 1477px;
  left: 958px;
  background-color: var(--color-white);
  border: 1px solid var(--color-lightseagreen);
  box-sizing: border-box;
  width: 484px;
  height: 379px;
}
.image-97-icon1 {
  position: absolute;
  top: 1402px;
  left: 1139px;
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.frame-child7,
.frame-child8,
.frame-child9 {
  position: absolute;
  top: 1604px;
  left: 1003px;
  border-radius: 50%;
  background-color: var(--color-gainsboro);
  width: 50px;
  height: 50px;
}
.frame-child8,
.frame-child9 {
  top: 1760px;
}
.frame-child9 {
  top: 1682px;
}
.image-100-icon1,
.image-98-icon1,
.image-99-icon1 {
  position: absolute;
  top: 1614px;
  left: 1008px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.image-100-icon1,
.image-99-icon1 {
  top: 1689px;
  left: 1011px;
  width: 35px;
  height: 35px;
}
.image-100-icon1 {
  top: 1767px;
}
.frame-child10,
.frame-child11 {
  position: absolute;
  top: 1933px;
  left: 94px;
  width: 1255px;
  height: 2px;
}
.frame-child11 {
  top: 2301px;
}
.frame-child12,
.frame-child13,
.size-table1 {
  position: absolute;
  top: 2177px;
  left: 94px;
  width: 1255px;
  height: 4px;
}
.frame-child13,
.size-table1 {
  top: 2055.99px;
  height: 3.01px;
}
.size-table1 {
  top: 1972px;
  left: 104px;
  font-size: var(--font-size-17xl);
  display: inline-block;
  color: var(--color-gray-600);
  width: 187px;
  height: 48px;
}
.p3 {
  margin: 0;
}
.b26,
.b27,
.b28,
.customer-reviews2,
.design-details1,
.similar-designs1 {
  position: absolute;
  top: 1956px;
  left: 1295px;
  font-size: var(--font-size-45xl);
  display: inline-block;
  color: var(--color-gray-600);
  width: 25px;
  height: 48px;
}
.b27,
.b28,
.customer-reviews2,
.design-details1,
.similar-designs1 {
  top: 2202px;
}
.b28,
.customer-reviews2,
.design-details1,
.similar-designs1 {
  top: 2080px;
}
.customer-reviews2,
.design-details1,
.similar-designs1 {
  top: 2223px;
  left: 104px;
  font-size: var(--font-size-17xl);
  width: 268px;
}
.customer-reviews2,
.similar-designs1 {
  top: 2388px;
  left: 94px;
  font-size: var(--font-size-xl);
  width: 212px;
}
.customer-reviews2 {
  top: 2101px;
  left: 104px;
  font-size: var(--font-size-17xl);
  width: 334px;
}
.image-88-icon5 {
  position: absolute;
  top: 2116px;
  left: 438px;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.image-89-icon4 {
  position: absolute;
  top: 2116px;
  left: 525px;
}
.image-89-icon4,
.image-90-icon4,
.image-91-icon4 {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.image-90-icon4 {
  position: absolute;
  top: 2116px;
  left: 496px;
}
.image-91-icon4 {
  left: 467px;
}
.image-91-icon4,
.image-92-icon1,
.reviews1 {
  position: absolute;
  top: 2116px;
}
.image-92-icon1 {
  left: 554px;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.reviews1 {
  left: 583px;
  font-size: var(--font-size-xl);
  display: inline-block;
  width: 118px;
  height: 33px;
}
.image-101-icon1,
.image-102-icon1,
.image-103-icon1,
.image-104-icon1,
.image-105-icon1 {
  position: absolute;
  top: 2430px;
  left: 94px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.image-102-icon1,
.image-103-icon1,
.image-104-icon1,
.image-105-icon1 {
  left: 372px;
}
.image-103-icon1,
.image-104-icon1,
.image-105-icon1 {
  left: 650px;
}
.image-104-icon1,
.image-105-icon1 {
  left: 928px;
}
.image-105-icon1 {
  left: 1206px;
}
.image-106-icon1,
.image-107-icon1,
.image-108-icon1,
.image-109-icon1,
.image-110-icon1 {
  position: absolute;
  top: 2793px;
  left: 94px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.image-107-icon1,
.image-108-icon1,
.image-109-icon1,
.image-110-icon1 {
  left: 372px;
}
.image-108-icon1,
.image-109-icon1,
.image-110-icon1 {
  left: 650px;
}
.image-109-icon1,
.image-110-icon1 {
  left: 928px;
}
.image-110-icon1 {
  left: 1206px;
}
.mens-zip-hoodie2 {
  position: absolute;
  top: 3036px;
  left: 650px;
}
.image-111-icon1,
.image-112-icon1,
.image-113-icon1,
.image-114-icon1,
.image-115-icon1 {
  position: absolute;
  top: 3156px;
  left: 94px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.image-112-icon1,
.image-113-icon1,
.image-114-icon1,
.image-115-icon1 {
  left: 372px;
}
.image-113-icon1,
.image-114-icon1,
.image-115-icon1 {
  left: 650px;
}
.image-114-icon1,
.image-115-icon1 {
  left: 928px;
}
.image-115-icon1 {
  left: 1206px;
}
.b29,
.b30,
.b31 {
  position: absolute;
  top: 3457px;
  left: 108px;
}
.b30,
.b31 {
  top: 3455px;
  left: 1225px;
}
.b31 {
  top:3480px;
  left: 942px;
}
.b32,
.b33,
.frame-child14 {
  position: absolute;
  top: 3454px;
  left: 660px;
}
.b33,
.frame-child14 {
  left: 385px;
}
.frame-child14 {
  top: 3554px;
  left: 94px;
  background-color: var(--color-gainsboro);
  width: 112px;
  height: 36px;
}
.father-s-day1 {
  position: absolute;
  top: 3563px;
  left: 107px;
  font-size: var(--font-size-sm);
  display: inline-block;
  width: 87px;
  height: 17px;
}
.frame-child15,
.frame-child16,
.frame-child17,
.frame-child18 {
  position: absolute;
  top: 3554px;
  left: 229px;
  background-color: var(--color-gainsboro);
  width: 74px;
  height: 36px;
}
.frame-child16,
.frame-child17,
.frame-child18 {
  left: 495px;
  width: 47px;
}
.frame-child17,
.frame-child18 {
  left: 438px;
  width: 41px;
}
.frame-child18 {
  left: 330px;
  width: 85px;
}
.design1,
.designer1,
.file1,
.ideas1 {
  position: absolute;
  top: 3563px;
  left: 244px;
  font-size: var(--font-size-sm);
  display: inline-block;
  width: 50px;
  height: 21px;
}
.designer1,
.file1,
.ideas1 {
  left: 345px;
  width: 77px;
  height: 20px;
}
.file1,
.ideas1 {
  top: 3564px;
  left: 445px;
  width: 27px;
  height: 19px;
}
.ideas1 {
  left: 502px;
  width: 45px;
  height: 15px;
}
.frame-child19 {
  position: absolute;
  top: 3162px;
  left: 252px;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 35px;
  height: 35px;
}
.image-116-icon1 {
  position: absolute;
  top: 3167px;
  left: 254px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.frame-child20 {
  position: absolute;
  top: 2798px;
  left: 252px;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 35px;
  height: 35px;
}
.image-117-icon1 {
  position: absolute;
  top: 2803px;
  left: 254px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.frame-child21 {
  position: absolute;
  top: 2436px;
  left: 252px;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 35px;
  height: 35px;
}
.image-118-icon1 {
  position: absolute;
  top: 2441px;
  left: 254px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.frame-child22 {
  position: absolute;
  top: 2436px;
  left: 532px;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 35px;
  height: 35px;
}
.image-119-icon1 {
  position: absolute;
  top: 2441px;
  left: 534px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.frame-child23 {
  position: absolute;
  top: 2798px;
  left: 532px;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 35px;
  height: 35px;
}
.image-120-icon1 {
  position: absolute;
  top: 2803px;
  left: 534px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.frame-child24 {
  position: absolute;
  top: 2438px;
  left: 806px;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 35px;
  height: 35px;
}
.image-121-icon1 {
  position: absolute;
  top: 2443px;
  left: 808px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.frame-child25 {
  position: absolute;
  top: 2436px;
  left: 1085px;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 35px;
  height: 35px;
}
.image-122-icon1 {
  position: absolute;
  top: 2441px;
  left: 1087px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.frame-child26 {
  position: absolute;
  top: 2436px;
  left: 1362px;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 35px;
  height: 35px;
}
.image-123-icon1 {
  position: absolute;
  top: 2441px;
  left: 1364px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.frame-child27 {
  position: absolute;
  top: 2798px;
  left: 815px;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 35px;
  height: 35px;
}
.image-124-icon1 {
  position: absolute;
  top: 2803px;
  left: 817px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.frame-child28 {
  position: absolute;
  top: 2798px;
  left: 1087px;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 35px;
  height: 35px;
}
.image-125-icon1 {
  position: absolute;
  top: 2803px;
  left: 1089px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.frame-child29 {
  position: absolute;
  top: 2798px;
  left: 1362px;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 35px;
  height: 35px;
}
.image-126-icon1 {
  position: absolute;
  top: 2803px;
  left: 1364px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.frame-child30 {
  position: absolute;
  top: 3162px;
  left: 532px;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 35px;
  height: 35px;
}
.image-127-icon1 {
  position: absolute;
  top: 3167px;
  left: 534px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.frame-child31 {
  position: absolute;
  top: 3162px;
  left: 815px;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 35px;
  height: 35px;
}
.image-128-icon1 {
  position: absolute;
  top: 3167px;
  left: 817px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.frame-child32 {
  position: absolute;
  top: 3162px;
  left: 1084px;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 35px;
  height: 35px;
}
.image-129-icon1 {
  position: absolute;
  top: 3167px;
  left: 1086px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.frame-child33 {
  position: absolute;
  top: 3162px;
  left: 1362px;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 35px;
  height: 35px;
}
.image-130-icon1 {
  position: absolute;
  top: 3167px;
  left: 1360px;
  width: 38px;
  height: 38px;
  object-fit: cover;
}
.frame-child34 {
  position: absolute;
  top: 2605px;
  left: 94px;
  background-color: var(--color-lightpink);
  width: 94px;
  height: 19px;
}
.sustainable10 {
  position: absolute;
  top: 2607px;
  left: 105px;
  font-size: var(--font-size-xs);
  display: inline-block;
  color: var(--color-gray-500);
  width: 73px;
  height: 15px;
}
.frame-child35 {
  position: absolute;
  top: 2603px;
  left: 372px;
  background-color: var(--color-lightpink);
  width: 94px;
  height: 19px;
}
.sustainable11 {
  position: absolute;
  top: 2605px;
  left: 383px;
  font-size: var(--font-size-xs);
  display: inline-block;
  color: var(--color-gray-500);
  width: 73px;
  height: 15px;
}
.frame-child36 {
  position: absolute;
  top: 2603px;
  left: 650px;
  background-color: var(--color-lightpink);
  width: 94px;
  height: 19px;
}
.sustainable12 {
  position: absolute;
  top: 2605px;
  left: 661px;
  font-size: var(--font-size-xs);
  display: inline-block;
  color: var(--color-gray-500);
  width: 73px;
  height: 15px;
}
.frame-child37 {
  position: absolute;
  top: 2603px;
  left: 928px;
  background-color: var(--color-lightpink);
  width: 94px;
  height: 19px;
}
.sustainable13 {
  position: absolute;
  top: 2605px;
  left: 939px;
  font-size: var(--font-size-xs);
  display: inline-block;
  color: var(--color-gray-500);
  width: 73px;
  height: 15px;
}
.frame-child38 {
  position: absolute;
  top: 2603px;
  left: 1206px;
  background-color: var(--color-lightpink);
  width: 94px;
  height: 19px;
}
.sustainable14 {
  position: absolute;
  top: 2605px;
  left: 1217px;
  font-size: var(--font-size-xs);
  display: inline-block;
  color: var(--color-gray-500);
  width: 73px;
  height: 15px;
}
.frame-child39 {
  position: absolute;
  top: 2964px;
  left: 94px;
  background-color: var(--color-lightpink);
  width: 94px;
  height: 19px;
}
.sustainable15 {
  position: absolute;
  top: 2966px;
  left: 105px;
  font-size: var(--font-size-xs);
  display: inline-block;
  color: var(--color-gray-500);
  width: 73px;
  height: 15px;
}
.frame-child40 {
  position: absolute;
  top: 2964px;
  left: 372px;
  background-color: var(--color-lightpink);
  width: 94px;
  height: 19px;
}
.sustainable16 {
  position: absolute;
  top: 2966px;
  left: 383px;
  font-size: var(--font-size-xs);
  display: inline-block;
  color: var(--color-gray-500);
  width: 73px;
  height: 15px;
}
.frame-child41 {
  position: absolute;
  top: 2964px;
  left: 756px;
  background-color: var(--color-lightpink);
  width: 94px;
  height: 19px;
}
.sustainable17 {
  position: absolute;
  top: 2966px;
  left: 767px;
  font-size: var(--font-size-xs);
  display: inline-block;
  color: var(--color-gray-500);
  width: 73px;
  height: 15px;
}
.frame-child42 {
  position: absolute;
  top: 2964px;
  left: 1034px;
  background-color: var(--color-lightpink);
  width: 94px;
  height: 19px;
}
.sustainable18 {
  position: absolute;
  top: 2966px;
  left: 1045px;
  font-size: var(--font-size-xs);
  display: inline-block;
  color: var(--color-gray-500);
  width: 73px;
  height: 15px;
}
.frame-child43 {
  position: absolute;
  top: 2964px;
  left: 1312px;
  background-color: var(--color-lightpink);
  width: 94px;
  height: 19px;
}
.sustainable19 {
  position: absolute;
  top: 2966px;
  left: 1323px;
  font-size: var(--font-size-xs);
  display: inline-block;
  color: var(--color-gray-500);
  width: 73px;
  height: 15px;
}
.frame-child44 {
  position: absolute;
  top: 2964px;
  left: 650px;
  background-color: var(--color-tomato-200);
  width: 94px;
  height: 19px;
}
.embroidered3 {
  position: absolute;
  top: 2966px;
  left: 658px;
  font-size: var(--font-size-xs);
  display: inline-block;
  color: var(--color-white);
  width: 83px;
  height: 15px;
}
.frame-child45 {
  position: absolute;
  top: 2964px;
  left: 928px;
  background-color: var(--color-tomato-200);
  width: 94px;
  height: 19px;
}
.embroidered4 {
  position: absolute;
  top: 2966px;
  left: 936px;
  font-size: var(--font-size-xs);
  display: inline-block;
  color: var(--color-white);
  width: 83px;
  height: 15px;
}
.frame-child46 {
  position: absolute;
  top: 2964px;
  left: 1206px;
  background-color: var(--color-tomato-200);
  width: 94px;
  height: 19px;
}
.embroidered5 {
  position: absolute;
  top: 2966px;
  left: 1214px;
  font-size: var(--font-size-xs);
  display: inline-block;
  color: var(--color-white);
  width: 83px;
  height: 15px;
}
.image-69-icon1,
.image-88-icon6,
.image-88-icon7 {
  position: absolute;
  height: 29.27%;
  width: 100%;
  top: 35.37%;
  right: 0;
  bottom: 35.37%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-69-icon1,
.image-88-icon7 {
  top: 70.73%;
  bottom: 0;
}
.image-88-icon7 {
  top: 0;
  bottom: 70.73%;
}
.image-88-group {
  position: absolute;
  height: 77.95%;
  width: 19.02%;
  top: 0;
  right: 80.98%;
  bottom: 22.05%;
  left: 0;
}
.image-89-icon5,
.image-90-icon5,
.image-91-icon5 {
  position: absolute;
  top: 0;
  left: 910px;
  width: 427px;
  height: 526px;
  object-fit: cover;
}
.image-89-icon5,
.image-90-icon5 {
  left: 427px;
  width: 483px;
}
.image-90-icon5 {
  left: 0;
  width: 427px;
  height: 525.54px;
}
.component-33-child,
.image-91-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 1337px;
  height: 526px;
}
.component-33-child {
  height: 100%;
  width: 67.67%;
  right: 0;
  bottom: 0;
  left: 32.33%;
  overflow: hidden;
}
.component-331 {
  position: relative;
  width: 631px;
  height: 526px;
}
.aa31 {
  position: absolute;
  top: 90px;
  left: 109px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.frame-child47 {
  position: absolute;
  top: 846px;
  left: 78px;
  width: 1396px;
  height: 3px;
}
.the-nobel-element1 {
  position: relative;
  font-size: var(--font-size-7xl);
  display: inline-block;
  width: 673px;
  flex-shrink: 0;
}
.designed-by1 {
  color: var(--color-gray-300);
}
.designed-by1,
.tshirtcare1 {
  position: relative;
}
.frame-a1-container,
.frame-a11 {
  display: flex;
  justify-content: flex-start;
}
.frame-a11 {
  width: 673px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: var(--gap-9xs);
}
.frame-a1-container {
  flex-direction: column;
  align-items: flex-start;
}
.customize1,
.image-70-icon1 {
  position: relative;
  height: 20px;
}
.image-70-icon1 {
  width: 20px;
  object-fit: cover;
}
.customize1 {
  display: inline-block;
  width: 96px;
  flex-shrink: 0;
}
.a121,
.frame-a21 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-a21 {
  flex-direction: row;
  gap: var(--gap-4xs);
  color: var(--color-tomato-100);
}
.a121 {
  flex-direction: column;
  gap: var(--gap-mid);
}
.plus-shipping1 {
  position: relative;
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
}
.a111,
.aa51 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.a111 {
  padding: var(--padding-3xs);
  font-size: var(--font-size-11xl);
}
.aa51 {
  position: absolute;
  top: 98px;
  left: 832px;
  gap: var(--gap-4xs);
}
.color-heather-gray-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.frame-a9-child4,
.frame-a9-child5 {
  position: relative;
  border-radius: 50%;
  width: 33px;
  height: 34px;
}
.frame-a9-child4 {
  background-color: var(--color-gray-300);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  z-index: 0;
}
.frame-a9-child5 {
  background-color: var(--color-firebrick);
  z-index: 1;
}
.frame-a9-child6,
.frame-a9-child7,
.frame-a9-child8,
.frame-a9-child9 {
  position: relative;
  border-radius: 50%;
  background-color: var(--color-darkslategray-100);
  width: 33px;
  height: 34px;
  z-index: 2;
}
.frame-a9-child7,
.frame-a9-child8,
.frame-a9-child9 {
  background-color: var(--color-black);
  z-index: 3;
}
.frame-a9-child8,
.frame-a9-child9 {
  background-color: var(--color-gray-400);
  z-index: 4;
}
.frame-a9-child9 {
  background-color: var(--color-dimgray);
  z-index: 5;
}
.image-71-icon1 {
  position: absolute;
  margin: 0 !important;
  top: 9px;
  left: 9px;
  width: 15px;
  height: 15px;
  object-fit: cover;
  z-index: 6;
}
.frame-a91 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-8xl);
}
.choose-a-size1 {
  position: relative;
  display: inline-block;
  width: 114px;
  height: 26px;
  flex-shrink: 0;
}
.frame-child48,
.frame-child49,
.frame-child50,
.frame-child51,
.frame-child52,
.frame-child53,
.frame-child54,
.frame-child55 {
  position: relative;
  border-radius: var(--br-10xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 59px;
  height: 37px;
  z-index: 0;
}
.frame-child49,
.frame-child50,
.frame-child51,
.frame-child52,
.frame-child53,
.frame-child54,
.frame-child55 {
  z-index: 1;
}
.frame-child50,
.frame-child51,
.frame-child52,
.frame-child53,
.frame-child54,
.frame-child55 {
  z-index: 2;
}
.frame-child51,
.frame-child52,
.frame-child53,
.frame-child54,
.frame-child55 {
  z-index: 3;
}
.frame-child52,
.frame-child53,
.frame-child54,
.frame-child55 {
  z-index: 4;
}
.frame-child53,
.frame-child54,
.frame-child55 {
  z-index: 5;
}
.frame-child54,
.frame-child55 {
  z-index: 6;
}
.frame-child55 {
  z-index: 7;
}
.l1,
.m1,
.s1,
.xl5,
.xl6,
.xl7,
.xl8,
.xl9 {
  position: absolute;
  margin: 0 !important;
  top: 10px;
  left: 24px;
  display: inline-block;
  width: 12px;
  height: 18px;
  flex-shrink: 0;
  z-index: 8;
}
.l1,
.m1,
.xl5,
.xl6,
.xl7,
.xl8,
.xl9 {
  left: 95px;
  z-index: 9;
}
.l1,
.xl5,
.xl6,
.xl7,
.xl8,
.xl9 {
  left: 169px;
  z-index: 10;
}
.xl5,
.xl6,
.xl7,
.xl8,
.xl9 {
  left: 237px;
  width: 24px;
  z-index: 11;
}
.xl6,
.xl7,
.xl8,
.xl9 {
  left: 303px;
  width: 36px;
  z-index: 12;
}
.xl7,
.xl8,
.xl9 {
  left: 375px;
  z-index: 13;
}
.xl8,
.xl9 {
  left: 445px;
  width: 33px;
  z-index: 14;
}
.xl9 {
  top: 11px;
  left: 517px;
  width: 34px;
  z-index: 15;
}
.aa41,
.rectangle-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-smi);
}
.aa41 {
  position: absolute;
  top: 301px;
  left: 825px;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.frame-a41 {
  position: absolute;
  top: 493px;
  left: 835px;
}
.frame-a5-item {
  position: relative;
  border-radius: var(--br-8xs);
  width: 593px;
  height: 52px;
  z-index: 0;
}
.add-to-cart1,
.image-72-icon1 {
  position: absolute;
  margin: 0 !important;
}
.add-to-cart1 {
  top: 16px;
  left: 252px;
  display: inline-block;
  width: 103px;
  height: 20px;
  flex-shrink: 0;
  z-index: 1;
}
.image-72-icon1 {
  top: 11px;
  left: 219px;
  width: 30px;
  height: 30px;
  object-fit: cover;
  z-index: 2;
}
.frame-a51 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-3xs);
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.image-73-icon1 {
  position: relative;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.international-standard-sep-291 {
  position: relative;
  display: inline-block;
  width: 343px;
  height: 15px;
  flex-shrink: 0;
}
.frame-a61 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.days1 {
  position: relative;
  display: inline-block;
  width: 63px;
  height: 21px;
  flex-shrink: 0;
}
.frame-a71 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.customer-reviews3 {
  position: relative;
  display: inline-block;
  width: 145px;
  height: 26px;
  flex-shrink: 0;
}
.frame-a81 {
  flex-direction: row;
  gap: var(--gap-4xs);
}
.a131,
.aa11,
.aa21,
.frame-a81 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.aa11 {
  flex-direction: column;
  gap: var(--gap-3xs);
}
.a131,
.aa21 {
  position: absolute;
}
.aa21 {
  top: 493px;
  left: 835px;
  width: 593px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-mini);
}
.a131 {
  top: 703px;
  left: 529px;
  flex-direction: column;
  padding: var(--padding-3xs);
  font-size: var(--font-size-5xl);
}
.image-82-icon1 {
  position: relative;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.accessories1,
.barbies1,
.men1,
.women1 {
  position: relative;
  display: inline-block;
  width: 57px;
  height: 30px;
  flex-shrink: 0;
}
.accessories1,
.barbies1,
.women1 {
  width: 97px;
}
.accessories1,
.barbies1 {
  width: 95px;
}
.accessories1 {
  width: 157px;
  height: 23px;
}
.a151 {
  position: absolute;
  top: 796px;
  left: 144px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-20xl);
  font-size: var(--font-size-5xl);
}
.mens-organic-t-shirt1,
.product-details1 {
  position: absolute;
  top: 1350px;
  left: 111px;
  font-size: var(--font-size-9xl);
}
.mens-organic-t-shirt1 {
  top: 1436px;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-500);
}
.brand-spreadshirt1,
.get-this-you1 {
  position: absolute;
  font-size: var(--font-size-xl);
}
.get-this-you1 {
  top: 1482px;
  left: 111px;
  display: inline-block;
  width: 751px;
  height: 79px;
}
.brand-spreadshirt1 {
  top: 1600px;
  left: 142px;
}
.fabric-weight-442oz1 {
  top: 1671px;
}
.fabric-weight-442oz1,
.imported-product-printed1,
.material-100-organic1 {
  position: absolute;
  left: 142px;
  font-size: var(--font-size-xl);
}
.material-100-organic1 {
  top: 1747px;
  display: inline-block;
  width: 576px;
}
.imported-product-printed1 {
  top: 1852px;
}
.custom-printed-for-you1,
.mask-group {
  position: absolute;
  top: 0;
  left: 0;
}
.mask-group {
  top: 1600px;
  left: 1095px;
  width: 277px;
  height: 29px;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-600);
}
.you-support-independent1 {
  position: absolute;
  top: 1644px;
  left: 1079px;
  display: inline-block;
  width: 308px;
}
.huge-variety-of1,
.reliable-shipping-and1 {
  position: absolute;
  top: 1732px;
  left: 1079px;
}
.reliable-shipping-and1 {
  top: 1809px;
}
.daddy-the-man1,
.happy-fathers-day1 {
  position: absolute;
  top: 2673px;
  left: 106px;
  display: inline-block;
  width: 201px;
}
.daddy-the-man1 {
  top: 2669px;
  left: 391px;
  width: 186px;
}
.bad-boy-angry1 {
  position: absolute;
  top: 2678px;
  left: 704px;
}
.i-totally-enjoy1,
.my-pet-tilts1 {
  position: absolute;
  top: 2680px;
  display: inline-block;
}
.my-pet-tilts1 {
  left: 1220px;
  width: 218px;
  height: 17px;
}
.i-totally-enjoy1 {
  left: 941px;
  width: 222px;
}
.customers-also-liked1 {
  position: absolute;
  top: 2775px;
  left: 106px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-600);
}
.mens-premium-organic2 {
  position: absolute;
  top: 3036px;
  left: 106px;
  display: inline-block;
  width: 195px;
  height: 34px;
}
.daddy-to-be2 {
  position: absolute;
  top: 3055px;
  left: 161px;
}
.mens-premium-organic3 {
  position: absolute;
  top: 3036px;
  left: 384px;
  display: inline-block;
  width: 198px;
}
.mens-hoodie-cards1,
.mens-zip-hoodie3 {
  position: absolute;
  top: 3035px;
  left: 941px;
}
.mens-hoodie-cards1 {
  left: 1220px;
}
.fitting-stickers1 {
  position: absolute;
  top: 3150px;
  left: 106px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-600);
}
.b35 {
  position: absolute;
  top: 3079px;
  left: 108px;
}
.b36,
.b37,
.b38,
.b39 {
  position: absolute;
  top: 3098px;
  left: 384px;
}
.b37,
.b38,
.b39 {
  top: 3060px;
  left: 665px;
}
.b38,
.b39 {
  left: 941px;
}
.b39 {
  left: 1220px;
}
.sticker5,
.sticker6,
.sticker7 {
  position: absolute;
  top: 3401px;
  left: 106px;
  font-size: var(--font-size-lg);
}
.sticker6,
.sticker7 {
  left: 385px;
}
.sticker7 {
  left: 1220px;
}
.daddy-to-be3,
.mean-ice-cream1,
.sticker8,
.sticker9,
.sweat-is-just1 {
  position: absolute;
  top: 3401px;
  left: 941px;
  font-size: var(--font-size-lg);
}
.daddy-to-be3,
.mean-ice-cream1,
.sticker9,
.sweat-is-just1 {
  left: 665px;
}
.daddy-to-be3,
.mean-ice-cream1,
.sweat-is-just1 {
  top: 3432px;
  left: 106px;
}
.mean-ice-cream1,
.sweat-is-just1 {
  left: 384px;
}
.sweat-is-just1 {
  top: 3425px;
  left: 661px;
}
.eleggua-2-colors1,
.more-t-shirts1,
.never-forget-90s1 {
  position: absolute;
  top: 3432px;
  font-size: var(--font-size-lg);
}
.never-forget-90s1 {
  left: 941px;
  display: inline-block;
  width: 200px;
}
.eleggua-2-colors1,
.more-t-shirts1 {
  left: 1220px;
}
.more-t-shirts1 {
  top: 3512px;
  left: 97px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-600);
}
.frame-child56 {
  position: absolute;
  top: 1002px;
  left: 1412px;
  border-radius: 50%;
  background-color: var(--color-tomato-200);
  width: 34px;
  height: 35px;
}
.b40 {
  position: absolute;
  top: 1004px;
  left: 1421px;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  opacity: 0.9;
}
.frame-child57 {
  position: absolute;
  top: 2512px;
  left: 1448px;
  border-radius: 50%;
  background-color: var(--color-tomato-200);
  width: 34px;
  height: 35px;
}
.b41 {
  position: absolute;
  top: 2514px;
  left: 1457px;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  opacity: 0.9;
}
.frame-child58 {
  position: absolute;
  top: 2875px;
  left: 1448px;
  border-radius: 50%;
  background-color: var(--color-tomato-200);
  width: 34px;
  height: 35px;
}
.b42 {
  position: absolute;
  top: 2877px;
  left: 1457px;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  opacity: 0.9;
}
.frame-child59 {
  position: absolute;
  top: 3238px;
  left: 1448px;
  border-radius: 50%;
  background-color: var(--color-tomato-200);
  width: 34px;
  height: 35px;
}
.b43 {
  position: absolute;
  top: 3240px;
  left: 1457px;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  opacity: 0.9;
}
.nearending-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-lightgray);
}
.lock-icon1 {
  position: absolute;
  top: 0;
  left: 138px;
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.all-secure-payment1 {
  position: absolute;
  top: 82px;
  left: 18px;
}
.image-paypal-icon1 {
  position: relative;
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.image-card-icon1,
.image-visa-icon1 {
  position: relative;
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.image-card-icon1 {
  width: 50px;
  height: 50px;
}
.image-paymentmethods1 {
  position: absolute;
  top: calc(50% + 5.5px);
  left: calc(50% - 177px);
  width: 354px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-19xl);
}
.icon-arrow-right-13 {
  position: relative;
  width: 13px;
  height: 22.85px;
}
.frame-div {
  position: absolute;
  top: 179px;
  left: 103px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  font-size: var(--font-size-lg);
  color: var(--color-tomato-200);
}
.facesmile-icon1,
.nearending11 {
  position: absolute;
  top: 49px;
  left: 129px;
  width: 354px;
  height: 201px;
}
.facesmile-icon1 {
  top: 0;
  left: 133px;
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.satisfaction-guaranteed1 {
  position: absolute;
  top: 89px;
  left: 34px;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-100);
}
.easy-returns-within1 {
  position: absolute;
  top: 134px;
  left: 0;
  display: inline-block;
  width: 187px;
  height: 32px;
}
.no-questions-asked1 {
  position: absolute;
  top: 134px;
  left: 191px;
}
.read-more-parent1 {
  position: absolute;
  top: 181px;
  left: 100px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  font-size: var(--font-size-lg);
  color: var(--color-tomato-200);
}
.nearending21 {
  position: absolute;
  top: 45px;
  left: 585px;
  width: 329px;
  height: 203px;
  font-size: var(--font-size-sm);
  color: var(--color-black);
}
.image-car-icon1 {
  position: absolute;
  top: 0;
  left: 84px;
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.worldwide-delivery1 {
  position: absolute;
  top: 89px;
  left: 0;
}
.image-170-icon1,
.image-171-icon1 {
  position: absolute;
  height: 100%;
  width: 22.22%;
  top: 0;
  right: 41.33%;
  bottom: 0;
  left: 36.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-171-icon1 {
  height: 90.34%;
  width: 17.78%;
  right: 82.22%;
  bottom: 9.66%;
  left: 0;
}
.image-169-icon1 {
  position: absolute;
  top: 2.18px;
  left: 170px;
  width: 55px;
  height: 33.22px;
  object-fit: cover;
}
.image-delivery1 {
  position: absolute;
  height: 24.22%;
  width: 99.12%;
  top: 61.37%;
  right: 0;
  bottom: 14.4%;
  left: 0.88%;
}
.read-more-parent2 {
  position: absolute;
  top: 183px;
  left: 53px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  font-size: var(--font-size-lg);
  color: var(--color-tomato-200);
}
.nearending31,
.nearending4 {
  position: absolute;
  top: 45px;
  left: 1085px;
  width: 227px;
  height: 205px;
}
.nearending4 {
  top: 3621px;
  left: 0;
  width: 1524px;
  height: 289px;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-100);
}
.star-parent {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 3910px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
